h1, p {
  font-family: Lato;
}
.section-title {
  font-family: cursive;
  margin: 20px;
  padding: 10px;
}
button {
  border-radius: 50%;
  border: 1px solid black;
  background: #12c450;
  color: white;
  font-weight: bold;
  padding: 3px 6px;
  margin-left: 10px;
}
.card-container {
  display: flex;
  margin-bottom: 100px;
}
.card-content {
  width: 50%;
}
[class*='card-item']{
  padding: 0 20px 40px 20px;
  background: lightgray;
  margin: 5px;
  font-size: 12px;
  border: none;
  box-shadow: 5px 0 15px 4px #ccc;
  border-radius: 2px 2px 30px 2px;
}
.card-item-wentWell {
  background: #ffaa80;
}
.card-item-toImprove {
  background: #b3ffff;
  
}
.card-item-startDoing {
  background: #bfff00;
  
}
.card-item-actionItems {
  background: lightgrey
  
}
.task-wrapper{
  display: flex;
  flex-flow: wrap;
}